body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: hsl(222, 26%, 31%);
}
h1,
h3 {
  color: hsl(30, 25%, 89%);
}
.container {
  /* min-width: 20%; */
  max-width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.results {
  height: 4em;
  text-align: right;
  background-color: hsl(224, 36%, 15%);
}
.results-item {
  padding: 3% 5%;
  font-size: 2em;
  color: hsl(30, 25%, 89%);
}

.pad {
  background-color: hsl(223, 31%, 20%);
  /* z-index: 999999999; */
}
.pad-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
  background-color: hsl(223, 31%, 20%);
  padding: 3% 5%;
}

.pad-item {
  width: 20%;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 5px 10px;
  text-align: center;
}

.pad-item-grp-1 {
  background-color: hsl(30, 25%, 89%);
  box-shadow: 1px 2px 1px hsl(28, 16%, 65%);
}

.pad-item-grp-2 {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 1px 2px 2px hsl(224, 28%, 35%);
}
.pad-item-grp-3 {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 1px 2px 2px hsl(6, 70%, 34%);
}
.pad-item-grp-1,
.pad-item-grp-2,
.pad-item-grp-3 {
  border-radius: 6%;
  height: 35px;
}
.attribution {
  bottom: 0;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    /* min-width: 20%; */
    max-width: 70%;
  }
}
